<!-- 
친구 초대 <br>
<form method='POST' action='{% url "invite" %}'>
    {% csrf_token %}
    그룹명 : <input type='text' name='gr' value= {{group.title}}>(그룹명.. 띄어쓰기하고 확인하면 그대로 안나온다..ㅠ)<br>
    닉네임 : <input type='text' name=invite>
    <input type='submit' value='확인'><br>
</form>


{% for user in us_f_list%}
{% if not user.image%}
<img id="thumbnail" src="../static/img/basic.png" alt="" width=80, height=80>
{% else %}
<img id="thumbnail" src="{{user.image.url}}" alt="" width=80, height=80>
{% endif %}
{{user.nickname}}

{% endfor %}


<br><br>
<a href='{% url "home" %}'>초대하기</a>

-->

<!DOCTYPE html>
<html>

<head>
    <!-- jQuery 연결 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <link href="../static/css/invite.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <!--고정 상단바-->
    <div class="head-bar">
        <img id="icon1" src="../static/img/list.png" alt="">
        <img id="logo" src="../static/img/로고화이트.png" alt="">
        <img id="icon2" src="../static/img/bell.png" alt="">
    </div>

    <!--계정-->
    <form class="new">
        <div class="top">
            <!-- 그룹명 -->
            <div class="nameform">
                <img id="mark" src="../static/img/leftmark.png" alt="">
                <input class="gname" placeholder="그룹명을 입력해주세요" type="text" required="">
                <img id="mark" src="../static/img/rightmark.png" alt="">
            </div>
        </div>
        <!-- 중간 부분 -->
        <div class="middle">
            <!-- 멤버선택 -->
            <div class="members">
                <img id="mimg" src="../static/img/계정이미지.jpg" alt="">
                <img id="delete" src="../static/img/delete.png" alt="">
            </div>
            <!-- 멤버검색 -->
            <div class="searching">
                <input id="search" placeholder="Search">
                <button id="sbutton"><img id="search-img" src="../static/img/search.png" alt=""></button>
            </div>
            <div class="smember">
                <div class="info">
                    <img id="simg" src="../static/img/계정이미지.jpg" alt="">
                    <h1 id="sname">정봉구 님</h1>
                </div>
                <button id="check"><img id="check-img" src="../static/img/add.png" alt=""></button>
            </div>
    </form>
    <div class="last">
        <button id="submit">모임 생성</button>
    </div>
    </div>
    </form>

    <!-- 하단 고정바 -->
    <div class="foot-bar">
        <img id="foot-home" src="../static/img/home.png" alt="">
        <img id="foot-invite" src="../static/img/invite.png" alt="">
        <img id="foot-bell" src="../static/img/bell.png" alt="">
        <img id="foot-user" src="../static/img/user.png" alt="">
    </div>
</body>

</html>