
친구 초대 <br>
<form method='POST' action='{% url "invite" %}'>
    {% csrf_token %}
    그룹명 : <input type='text' name='gr' value= {{group.title}}>(그룹명.. 띄어쓰기하고 확인하면 그대로 안나온다..ㅠ)<br>
    닉네임 : <input type='text' name=invite>
    <input type='submit' value='검색'><br>
</form>


{% for user in us_f_list%}
{% if not user.image%}
<img id="thumbnail" src="../static/img/basic.png" alt="" width=80, height=80>
{% else %}
<img id="thumbnail" src="{{user.image.url}}" alt="" width=80, height=80>
{% endif %}
{{user.nickname}}
<form action="{% url 'delete'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="pocket_id" value={{pocket.id}}></input>
    <input type="hidden" name="user_id" value={{user.id}}></input>
    <button type="submit" >취소</button>
</form>

{% endfor %}


<br><br>
<a href='{% url "home" %}'>초대하기</a>


