<!DOCTYPE html>
<html>

<head>
    <!-- jQuery 연결 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sg8d9f406i&submodules=geocoder">
    </script>
    <link rel="stylesheet" type="text/css" href="../static/css/map.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- 페이지 -->
    <div class="center">
        <div class="page">
            <!--고정 상단바-->
            <div class="head-bar">
                <a href="./"><img id="icon1" src="../static/img/list.png" alt=""></a>
                <a href="./index.html"><img id="logo" src="../static/img//로고화이트.png" alt=""></a>
                <a href="./"><img id="icon2" src="../static/img/bell.png" alt=""></a>
            </div>
            {% if not first %}
            <br><br><br><br>
            <h1>약속이없습니다.</h1>
            {% else %}
            <!-- 지도인증 부분 -->
            <div class="arrive">
                <div class="map">
                    <span id="reach-mobile">타임인증하기</span>
                    <div id="map"></div>
                    <!-- style="width:50%;height:400px; -->
                </div>
                <div class="map-bottom">
                    <div class="arrive-content">
                        <span id="reach-pc">타임인증하기</span>
                        <span id="group-name">그룹 : {{first.group_ac.title}}</span>
                        <span id="schedule">약속내용 : {{first.title}} {{first.date.hour}}시 {{first.date.minute}}분</span>
                    
                        <div id="red" class="alert alert-danger" role="alert">
                            <p id="demo" name="{{asdfa}}"></p>
                        </div>
    
                    </div>

                    

                    <div class="arrive-button">
                        <div class="group-img">
                            {% for first_img in first.group_ac.members.all %}
                            {% if not first_img.image %}
                            <img id="member-img" src="../static/img/basic.png">
                            {% else %}
                            <img id="member-img" src="{{first_img.image.url}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a href="{% url 'confirm' first.id %}"><button type="button" class="btn btn-danger"
                                id="timeout">인증하기</button></a>

                    </div>
                </div>
            </div>

            <p id="demo"></p>



            <div class="bottom">
                <p id="schedule-list" style="color:black;">지켜야 할 약속</p>
                <!-- 약속 순서대로 정렬  -->
                <div class="schedule-scroll">
                    {% for s in schedule %}
                    <div class="schedule">
                        <span id="schedule-name">{{s.title}}</span>
                        <span id="schedule-date">{{s.date.year}}년 {{s.date.month}}월 {{s.date.day}}일 {{s.date.hour}}시</span>
                        <span id="schedule-money">{{s.penalty}}원</span>
                    </div>
                    {% endfor %}
                </div>


            </div>
            {% endif %}
            <!-- 하단 고정바 -->
            <div class="foot-bar">
                <a href="{% url 'home' %}"><img id="foot-home" src="../static/img/home.png" alt=""></a>
                <a href="{% url 'check' %}"><img id="foot-invite" src="../static/img/invite.png" alt=""></a>
                <a href="{% url 'map' %}"><img id="foot-bell" src="../static/img/bell.png" alt=""></a>
                <a href="{% url 'portfolio' %}"><img id="foot-user" src="../static/img/user.png" alt=""></a>
            </div>

        </div>
    </div>

    <!-- 여기서부터 스크립트 -->
    <script>
        
var map = new naver.maps.Map("map", {
    center: new naver.maps.LatLng(37.3595316, 127.1052133),
    zoom: 10,
    mapTypeControl: true
});

var infoWindow = new naver.maps.InfoWindow({
    anchorSkew: true
});

map.setCursor('pointer');

function searchCoordinateToAddress(latlng) {

    infoWindow.close();

    naver.maps.Service.reverseGeocode({
        coords: latlng,
        orders: [
            naver.maps.Service.OrderType.ADDR,
            naver.maps.Service.OrderType.ROAD_ADDR
        ].join(',')
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        var items = response.v2.results,
            address = '',
            htmlAddresses = [];

        for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
            item = items[i];
            address = makeAddress(item) || '';
            addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

            htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
        }

        infoWindow.setContent([
            '<div style="padding:10px;min-width:200px;line-height:150%;">',
            '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
            htmlAddresses.join('<br />'),
            '</div>'
        ].join('\n'));

        infoWindow.open(map, latlng);
    });
}

function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
        query: address
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        if (response.v2.meta.totalCount === 0) {
            return alert('totalCount' + response.v2.meta.totalCount);
        }

        var htmlAddresses = [],
            item = response.v2.addresses[0],
            point = new naver.maps.Point(item.x, item.y);

        if (item.roadAddress) {
            htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
        }

        if (item.jibunAddress) {
            htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
        }

        if (item.englishAddress) {
            htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
        }

        infoWindow.setContent([
            '<div style="padding:10px;min-width:200px;line-height:150%;">',
            '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
            htmlAddresses.join('<br />'),
            '</div>'
        ].join('\n'));

        map.setCenter(point);
        infoWindow.open(map, point);
    });
}

function initGeocoder() {
    map.addListener('click', function(e) {
        searchCoordinateToAddress(e.coord);
    });

    $('#address').on('keydown', function(e) {
        var keyCode = e.which;

        if (keyCode === 13) { // Enter Key
            searchAddressToCoordinate($('#address').val());
        }
    });

    $('#submit').on('click', function(e) {
        e.preventDefault();

        searchAddressToCoordinate($('#address').val());
    });

    searchAddressToCoordinate('정자동 178-1');
}

function makeAddress(item) {
    if (!item) {
        return;
    }

    var name = item.name,
        region = item.region,
        land = item.land,
        isRoadAddress = name === 'roadaddr';

    var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

    if (hasArea(region.area1)) {
        sido = region.area1.name;
    }

    if (hasArea(region.area2)) {
        sigugun = region.area2.name;
    }

    if (hasArea(region.area3)) {
        dongmyun = region.area3.name;
    }

    if (hasArea(region.area4)) {
        ri = region.area4.name;
    }

    if (land) {
        if (hasData(land.number1)) {
            if (hasData(land.type) && land.type === '2') {
                rest += '산';
            }

            rest += land.number1;

            if (hasData(land.number2)) {
                rest += ('-' + land.number2);
            }
        }

        if (isRoadAddress === true) {
            if (checkLastString(dongmyun, '면')) {
                ri = land.name;
            } else {
                dongmyun = land.name;
                ri = '';
            }

            if (hasAddition(land.addition0)) {
                rest += ' ' + land.addition0.value;
            }
        }
    }

    return [sido, sigugun, dongmyun, ri, rest].join(' ');
}

function hasArea(area) {
    return !!(area && area.name && area.name !== '');
}

function hasData(data) {
    return !!(data && data !== '');
}

function checkLastString (word, lastString) {
    return new RegExp(lastString + '$').test(word);
}

function hasAddition (addition) {
    return !!(addition && addition.value);
}

naver.maps.onJSContentLoaded = initGeocoder;
    </script>
    <script>
        // Set the date we're counting down to
        //var countDownDate = new Date("08 11 2019 01:44:50").getTime();

        var countDownDate = new Date("{{first.date.month}} {{first.date.day}}, {{first.date.year}} {{first.date.hour}}:{{first.date.minute}}:{{first.date.second}}").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "일 " + hours + "시간 " +
                minutes + "분 " + seconds + "초 ";

            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                window.location.href = "{% url 'scheDelete' first.id %}"
                // clearInterval(x);
                // document.getElementById("demo").innerHTML = "EXPIRED"; 
            }
        }, 1000);
    </script>

</body>

</html>