<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>schedule 만드는페이지</title>
</head>
<body>
    <div class="container">
        <form action="{% url 'create' %}">
            <div class="form-group">
                <label for="formGroupExampleInput">Title</label>
                <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력해주세요">
            </div>
            <div class="form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력해주세요">
                </div>
            <button type="submit" class="btn btn-dark">작성</button>
        </form>
    </div>
</body>
</html>